{% extends "base.html" %}
{% block content %}


<div class="instructions-container">
    <h2>Welcome to Rock, Paper and Scissors</h2>
    <h3>Rules of the Game</h3>
    <div>Select <strong>Lets Play</strong> to start a new game
    </div>
    <p>Enter <strong>your name </strong>in the player1 box then make your selection</strong></p>

    <p>You will be playing against the computer. </p>
    <p>The computer will randomly select a choice after you have selected
        your choice</p>
    <ul>
       <strong><p>ROCK beats SCISSORS</p></strong> 
       <strong><p>PAPER beats ROCK</p></strong> 
       <strong><p>SCISSORS beats PAPER</p></strong>
        
        

    </ul>
    <p>In the event that you and the computer select the same choice, it will be a draw.</p>
    <h3>Have Fun!!!</h3>


    </p>
</div>








{% endblock %}